{% extends "layout.html" %}

{% block head %}
<link href="{{static_url('CRUD/css/materialdesignicons.min.css')}}" rel="stylesheet">
<link href="{{static_url('CRUD/css/style.min.css')}}" rel="stylesheet">
{% end %}


{% block content %}

<div class="container-fluid p-t-15">

  <div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs page-tabs pt-2 pl-3 pr-3">
                  <li class="nav-item"> <a href="/video/?id={{ data['user'].Uid }}" class="nav-link active">视频投稿</a> </li>
                  <li class="nav-item"> <a href="/videomodel/?id={{ data['user'].Uid }}" class="nav-link">模型生成</a> </li>
                  <li class="nav-item"> <a href="/examinevideo/?id={{ data['user'].Uid }}" class="nav-link">审核列表</a> </li>
                  <li class="nav-item"> <a href="/delete_video/?id={{ data['user'].Uid }}" class="nav-link">视频删除</a> </li>
              </ul>
            </div>
            <div class="card-body">
            <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
            {% set v = data['video'] %}
                <table class="table table-bordered">

                    <thead>
                        <tr>
                          <th>封面</th>
                          <th>视频名</th>
                          <th>创建时间</th>
                          <th>审核结果</th>
                            <th>原因</th>
                        </tr>
                      </thead>
                        <tbody>
                {% if v['data'] %}
                {% for val in v['data'] %}
                    <tr>
                      <td><img src="/static/video/imges/{{ val.logo }}" style="width:160px;height:90px"></td>
                      <td>{{ val.Vname }}</td>
                      <td>{{ val.VcreateAt }}</td>
                       {% if val.examine %}
                        {% if val.examine == 1 %}
                            <td><font class="text-success">通过</font></td>
                          {% else %}
                            <td><font class="text-danger">未通过</font></td>
                          {% end %}
                      {% else  %}
                      <td><font class="text-warning">未审核</font></td>
                      {% end %}
                      <td>{{ val.examine_info }}</td>
                    </tr>
                    {% end %}
                    {% end %}
              </tbody>
                </table>


          </ul>
            {% module page_examine_video(v,data['q']) %}
        </div>
        </div>
        <div>

        </div>
    </div>

  </div>

</div>



{% end %}

{% block foot %}
<script src="{{ static_url('js/request.js')}}"></script>

<script>




</script>
{% end %}