{% extends "layout.html" %}

{% block head %}
<link href="{{static_url('CRUD/css/materialdesignicons.min.css')}}" rel="stylesheet">
<link href="{{static_url('CRUD/css/style.min.css')}}" rel="stylesheet">
{% end %}

{% block content %}

<div class="container-fluid p-t-15">

  <div class="row">

    <div class="col-lg-12">

      <div class="card clearfix">
            <ul class="nav nav-tabs page-tabs pt-2 pl-3 pr-3">
          <li class="nav-item"> <a href="/user/" class="nav-link active">主页</a> </li>
          <li class="nav-item"> <a href="/uservideolist/?id={{ data['user'].Uid }}" class="nav-link">投稿</a> </li>
          <li class="nav-item"> <a href="/userlike/?id={{ data['user'].Uid }}" class="nav-link">
              <p>点赞</p><p>{{ data['Ulike'] }}</p></a> </li>
          <li class="nav-item"> <a href="/usercollect/?id={{ data['user'].Uid }}" class="nav-link">
              <p>收藏</p><p>{{ data['Ucollect'] }}</p></a> </li></a> </li>
          <li class="nav-item"> <a href="/userstar/?id={{ data['user'].Uid }}" class="nav-link">
              <p>关注数</p><p>{{ data['Ustar'] }}</p></a> </li>
          <li class="nav-item"> <a href="/userfans/?id={{ data['user'].Uid }}" class="nav-link">
              <p>粉丝数</p><p>{{ data['Ufans'] }}</p></a> </li>

        </ul>


      </div>
    </div>

    <div class="col-lg-8">

        <div class="card">
            <div class="card-header">
                <div class="card-title">我的粉丝</div>
            </div>
            <div class="card-body">
                    {% set r = data['relation'] %}
                    {% if r['data'] %}
                    {% for val in r['data'] %}
                <li class="item">
                <a href="#" class="img-link" data-content-id="{{ val.Uid }}">
                  <img src="/static/uploads/{{ val.face }}" style="width:100px;height:100px">
                  <span>{{ val.Uname }}</span>
                    <label>{{val.info}}</label>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
                </a>
              </li>

                {% end %}
                {% end %}
                {% module page_userfans(r,data['q']) %}
            </div>

        </div>
    </div>

    <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                <div class="card-title">个人资料</div>
                <div class="more-wrap">
                  <a href="/userprofile/?id={{ data['user'].Uid }}" class="more">修改<i></i></a>
                </div>
            </div>

                <div class="card-body">
                    {% set u = data['user'] %}
                    <form id="form-data">
                        {% raw xsrf_form_html() %}
                        <div class="form-group">
                            <label>头像</label>
                            <div id="image_face" name="face">
                                {% if u.face %}
                                <img src="/static/uploads/{{ u.face }}" style="width:100px;height:100px">
                                {% else %}
                                <img data-src="holder.js/200x200">
                                {% end %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>昵称 ： </label>
                                    <label>{{ u.Uname }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>邮箱</label>
                            <label>{{u.email}}</label>
                        </div>
                        <div class="form-group">
                            <label>手机号码</label>
                            <label>{{u.phone }}</label>
                        </div>
                        <div class="form-group">
                            <label>性别</label>
                            {% if u.sex == 1 %} <label>男</label>{% end %}
                            {% if u.sex == 2 %} <label>女</label>{% end %}
                            {% if u.sex == 3 %} <label>保密</label>{% end %}
                        </div>
                        <!--表单字段的容器标签-->
                        <div class="form-group">
                            <!--标签名称-->
                            <label>星座</label>
                                {% set xz = data['xz'] %}
                                <!--每一行原本12等分，现在我们分成6等分，每一分占2个栅格-->
                                {% for v in xz %}
                                     {% if u.xingzuo ==v['val'] %} <label >{{ v['name'] }}</label>{% end %}
                                {% end %}
                        </div>

                        <div class="form-group">
                            <label>个性签名</label>
                            <label>{{u.info}}</label>
                        </div>


                    </form>
                </div>
            </div>
        </div>

  </div>

</div>

{% end %}

{% block foot %}

<script>

    $(document).ready(function (){
        $(".img-link").click(function(){
            var id = $(this).attr("data-content-id");
            location.href = "/users/?id=" + id;
        });
    });
</script>

{% end %}